div(id='about',class='container-fluid')
  div(class='row')
   div(class='page-header')
    h2(class='text-center text-uppercase') About
 div(class='container')
  div(class='row about')
   div(class='col-md-12')
    p(class='text-justify') My name is Steven Waters and I have been building websites since I was 13 years old (circa 1999). I am currently coding in HTML5, CSS3, JavaScript (ES5), Jade, Node.js, Express.js, Angular.js, and Bootstrap 3. I am also starting to utilize various tools and libraries for web development such as Web Pack, Babel, SASS-Lint, ESLint, and JS Standard, React! In addition, I have a strong background in supporting web applications, developing PHP integrations, designing and developing .NET websites, and coding C#, T-SQL, and writing JavaScript. While building websites and applications, I like to focus on creating websites that are user friendly , SEO-friendly, accessible for people using assistive web technologies, and cross-browser compatible. 
