div(id='about',class='container-fluid')
  div(class='row')
   div(class='page-header')
    h2(class='text-center text-uppercase') About
 div(class='container')
  div(class='row about')
   div(class='col-md-12')
    p My name is Steven Waters and I've been building websites since I was 13 years old (circa 1999). I'm currently coding in HTML5, CSS3, JavaScript (ES5), Jade, Node.js, Express.js, Angular.js, Bootstrap 3, and I'm learning React which is a pretty nice JavaScript library for building web apps! I'm also starting to use various tools for web development such as Web Pack, Babel, SASS-Lint, ESLint, and JS Standard. In addition, I also have a strong background in supporting web applications, developing PHP integrations, designing and developing .NET websites, and coding C#, T-SQL, and JavaScript customizations. I also know jQuery pretty well too! While building websites and applications, I like to focus on making them user friendly , seo-friendly, accessible for people using assistive web technologies, and cross-browser compatible. 
    p When I'm not coding, I like to ride my bike down Bayshore Boulevard, hang out with friends and family, read, watch the latest and greatest shows on Netflix, travel – so far, I've been to Berlin and Prague which were amazing cities to be in – and I'm slowly getting into filmmaking. 