footer(id='contact',class='container-fluid')
 div(class='row')
  div(class='page-header')
   h2(class='text-center text-uppercase') Contact
div(class='container')
 div(class='row')
  div(class='col-md-12') 
   p(class='text-center lead') These are just some of the sites you can find me on
 div(class='row social-icons')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://twitter.com/stevenwaters86',title='Visit Steven\'s Twitter Page')
    i(class='fa fa-twitter fa-4',aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://github.com/swaters86',title='Visit Steven\'s GitHub Page')
    i(class='fa fa-github-alt fa-4', aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='https://www.linkedin.com/in/stevenwaters',title='Visit Steven\'s LinkedIn')
    i(class='fa fa-linkedin fa-4',aria-hidden='true')
  div(class='icon col-md-3 col-sm-3 col-xs-6')
   a(href='http://codepen.io/swaters86/',title='Visit Steven\s CodePen Page')
    i(class='fa fa-codepen fa-4',aria-hidden='true')