header(id='home',class='jumbotron')
 div(class='container')
  div(class='row')
   div(class='col-md-12 text-center')
    div(class='inner-header')
     h1(class='text-uppercase') Steven Waters
     h2(class='text-uppercase') Web Developer <span class='break-text'><i class='hypenate'>in</i></span> Tampa, Fl. 