div(id='portfolio',class='container-fluid')
 div(class='row')
  div(class='page-header')
   h2(class='text-center text-uppercase') Older Work
div(class='container')
 div(class='row portfolio')
  for portfolioOldItem in portfolioOldItems
   div(class='col-md-6')   
    div(class='panel panel-default')
     div(class='panel-body')
      div(class='thumbnail')
       img(src='#{portfolioOldItem.imgSrc}',alt='#{portfolioOldItem.imgAlt}')
     div(class="panel-heading")
      h4(class='text-center')
       a(href='#{portfolioOldItem.url}',title='visit site') #{portfolioOldItem.captionTitle}
       