div(id='skills',class='container-fluid')
  div(class='row')
   div(class='page-header')
    h2(class='text-center text-uppercase') Skills 
 div(class='container')
  div(class='row skills')
   div(class='col-md-4')
    div(class='panel panel-default')
     div(class='panel-heading')
      h4(class='text-center') 1-2 Years
     div(class='panel-body')
      ul(class='skills')
       for skill in skills.skillsSet1
        li #{skill}
   div(class='col-md-4')
    div(class='panel panel-default')
     div(class='panel-heading')
      h4(class='text-center') 2-6 Years
     div(class='panel-body')
      ul(class='skills')
       for skill in skills.skillsSet2
        li #{skill}
   div(class='col-md-4')
    div(class='panel panel-default')
     div(class='panel-heading')
      h4(class='text-center') Still Learning/Want to Learn
     div(class='panel-body')
      ul(class='skills')
       for skill in skills.skillsSet3
        li #{skill}