extends layout

block content
 include partials/navigation
 include partials/header
 include partials/about
 include partials/skills
 include partials/projects
 include partials/code
 include partials/footer
